
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="margin-top: 20px;">
  <div class="row ">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="w-100 flex-p">
            <div class="dashboard-stat blue-madison">
              <div class="visual">
                <i class="fa fa-users fa-1x"></i>
              </div>
              <div class="details">
                <div class="number">
                  03
                </div>
                <div class="desc">
                  Total Hospitals/Facilities
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat blue-madison">
          <div class="visual">
            <i class="fa fa-users fa-1x"></i>
          </div>
          <div class="details">
            <div class="number">
              26
            </div>
            <div class="desc">
              Total Physicians
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat ppurple-madison">
          <div class="visual">
            <i class="fa fa-users"></i>
          </div>
          <div class="details">
            <div class="number">
              06
            </div>
            <div class="desc">
            Active Physicians
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row ">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat green-haze">
          <div class="visual">
            <i class="fa fa-percent"></i>
          </div>
          <div class="details">
            <div class="number">
              47
            </div>
            <div class="desc">
              Total Patients
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat blue-madison">
          <div class="visual">
            <i class="fa fa-file"></i>
          </div>
          <div class="details">
            <div class="number">
              Platinum
            </div>
            <div class="desc">
              Subscription Type
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="w-100 flex-p">
        <div class="dashboard-stat ppurple-madison">
          <div class="visual">
            <i class="fa fa-file"></i>
          </div>
          <div class="details">
            <div class="number">
              12/11/2020
            </div>
            <div class="desc">
              Subscription End Date
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-left:7px !important;padding-right:7px !important;">
    <div fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
      <mat-card>
        <mat-card-header fxLayoutAlign="center center">                
            <mat-card-subtitle><h2>Monthly Patients Trend</h2></mat-card-subtitle>
        </mat-card-header>
        <div class="w-100 h-300p">
            <ngx-charts-line-chart
                [scheme]="colorScheme"
                [results]="analytics"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegends"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [autoScale]="autoScale"
                (select)="onSelect($event)">
            </ngx-charts-line-chart>                  
        </div>
    </mat-card>
  </div>
</div>

<div class="row ">
  <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
    <div class="flex-p"> 
      <mat-card>
        <mat-card-header fxLayoutAlign="center center">                
          <mat-card-subtitle><h2>Physicians Based Patients Distribution</h2></mat-card-subtitle>
        </mat-card-header>
        <div class="w-100 h-300p">
          <ngx-charts-pie-chart
          [scheme]="colorScheme"
          [results]="single"
          [legend]="showLegend"
          [explodeSlices]="explodeSlices"
          [labels]="showLabels"
          [doughnut]="doughnut"
          [gradient]="gradient"
          (select)="onSelect($event)">
        </ngx-charts-pie-chart>                  
      </div>
    </mat-card>
  </div>
</div>
<div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
  <div class="flex-p"> 
    <mat-card>
      <mat-card-header fxLayoutAlign="center center">                
        <mat-card-subtitle><h2>Facility Based Patients Distribution</h2></mat-card-subtitle>
      </mat-card-header>
      <div class="w-100 h-300p">
        <ngx-charts-pie-chart
        [scheme]="colorScheme"
        [results]="singles"
        [legend]="showLegend"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [gradient]="gradient"
        (select)="onSelect($event)">
      </ngx-charts-pie-chart>                  
    </div>
  </mat-card>
</div>
</div>
</div>
</div>