<div fxLayout="row wrap" style="margin-bottom: 10px;margin-top: 5px;">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="w-100">
        <div class="row col-sm-12" class="flex-p">
            <div fxLayout="row" style="float: right !important;margin-right: 5px">
                <div>
                    <button mat-raised-button class="pull-right btn-primary" (click)="openPhysicianDialog(null)">
                        <mat-icon>person_add</mat-icon> Add Physician
                    </button>
                    <button mat-raised-button style="background-color: #37474f !important;color: white;" class="pull-right margin-right-10">
                    <mat-icon>filter_list</mat-icon> Filter
                    </button>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div fxLayout="row wrap" *ngIf="filterToggle">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100 margins">
        <mat-card class="filter">
            <mat-card-content>
                <div class="row" style="padding-top:10px !important">
                    <div class="col-sm-4">
                        <div class="col-sm-4 newMarginClass" style="margin-top:6px;">
                            Package Level: 
                        </div>
                        <div class="col-sm-8">
                            <mat-select placeholder="--Search by Package Level--" class="form-control"  [(ngModel)]="package_filter">
                                <mat-option *ngFor="let option of packages" [value]="option.package">{{option.package}}</mat-option>
                              </mat-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-4 newMarginClass" style="margin-top:6px;">
                            # of Fleet: 
                        </div>
                        <div class="col-sm-8">
                            <mat-select placeholder="--Search by  # of Fleet--" class="form-control"  [(ngModel)]="fleet_filter">
                                <mat-option *ngFor="let option of fleets" [value]="option.fleet">{{option.fleet}}</mat-option>
                              </mat-select>  
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-4 newMarginClass" style="margin-top:6px;">
                             Monthly Price: 
                        </div>
                    <div class="col-sm-8">
                       <input type="text"  class="form-control" [formControl]="monthlyForm"  placeholder="Search by Monthly Price" >
                    </div>  
                    </div>
                </div>
                <div class="row" style="padding-top:10px !important">
                    <div class="col-sm-4">
                        <div class="col-sm-4 newMarginClass">
                            
                        </div>
                        <div class="col-sm-8">
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-4 newMarginClass">
                            
                        </div>
                        <div class="col-sm-8">
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="col-lg-2" style="margin-left:200px!important;">
                                    <button mat-raised-button (click)="fliterSearch()" class="pull-right btn-primary"><mat-icon>youtube_searched_for</mat-icon> Search</button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-left: -18px;">
                                <button mat-raised-button style="background-color:#37474f; color:#fff !important" (click)="clearFilters()"><mat-icon>settings_backup_restore</mat-icon> Clear</button>
                            </div>
                            <a (click)="filterToggle = !filterToggle" class="pull-right" style="margin-left: -18px;" style="font-size: 25px; cursor: pointer;">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </a>
                        </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
  </div>
  
  <div fxLayout="row wrap">
    <div class="w-100" style="margin-left: 10px;margin-right: 10px;">
        <table class="table table-bordered table-responsive-md btn-table table-hover">
            <thead class="tbl-head">
                <tr>
                    <th>Physician Name</th>
                    <th>Email ID</th>
                    <th>Contact Number</th>
                    <th>State</th>
                    <th>City</th>
                    <th class="text-center">Patient Records</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of subList">
                    <td>{{item.patientName}}</td>
                    <td>{{item.mrNumber}}</td>
                    <td>{{item.physician}}</td>
                    <td>{{item.referringPhysician}}</td>
                    <td>{{item.adminName}}</td>
                    <td class="text-center inner-screen">{{item.p}}</td>
                    <td class="text-center">
                        <a [ngClass]="item.status ? 'status' : 'status Red'" mwlConfirmationPopover
                          [popoverTitle]="popoverStatusTitle" [popoverMessage]="popoverStatusMessage" placement="left"
                          (confirm)="cancelClicked = true" (cancel)="cancelClicked = true">
                          {{item.status?'Active':'Inactive'}}
                        </a>
                      </td>
                      <td class="text-center">
                        <a style="cursor: pointer;" matTooltip="Update Physician"
                          (click)="openPhysicianDialog(item)">
                          <i class="fa fa-edit" style="color: cornflowerblue"></i>
                        </a>
                        <a><i class="fa fa-trash red" matTooltip="Delete Physician" style="cursor: pointer;"
                            (click)="openDeleteDialog(item)"></i></a>
                      </td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
    </div>
  </div>
