<div class="NewHeader">
  <h1 mat-dialog-title>
    Add Users
  </h1>
</div>
<div mat-dialog-content>
    <form class="form-horizontal">  
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">User Name: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input  class="form-control"  placeholder="Enter User Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Email: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input  class="form-control"  placeholder="Enter Email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Contact Number: </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" placeholder="Enter Contact Number ">
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-hover btn-primary" (click)="saveUser()"><span> Save </span></button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 